In [1]:
import pandas as pd

In [2]:
import sys
import os
from pathlib import Path

# Set HuggingFace timeout FIRST before any imports
os.environ['HF_HUB_DOWNLOAD_TIMEOUT'] = '60'

# Add project root to Python path
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root))

In [3]:
members = pd.read_parquet("../data/raw/members.parquet")

In [4]:
features = pd.read_parquet("../data/processed/member_features.parquet")

In [6]:
members_nba = pd.read_parquet("../data/outputs/member_nba_recos.parquet")

In [7]:
members.shape, features.shape, members_nba.shape

((500000, 9), (500000, 11), (2500000, 16))

In [5]:
features.head()

,membership_nbr,persona_id,tenure_bucket,membership_tier,membership_type,auto_renew_opt_in,sales_decile,sales_centile,tenure_months,engagement_bucket,churn_risk_flag
0,1,3,3-12m,Club,Savings,1,3,61,4,low,0
1,2,6,1-3y,Club,Savings,1,2,19,14,low,0
2,3,5,1-3y,Club,Savings,1,8,11,33,high,0
3,4,4,3y+,Club,Savings,0,8,8,98,high,0
4,5,1,1-3y,Plus,Savings,0,10,91,15,high,0

In [6]:
members.head()

,membership_nbr,persona_id,tenure_bucket,membership_tier,membership_type,auto_renew_opt_in,sales_decile,sales_centile,tenure_months
0,1,3,3-12m,Club,Savings,1,3,61,4
1,2,6,1-3y,Club,Savings,1,2,19,14
2,3,5,1-3y,Club,Savings,1,8,11,33
3,4,4,3y+,Club,Savings,0,8,8,98
4,5,1,1-3y,Plus,Savings,0,10,91,15

In [8]:
members_nba.head()

,membership_nbr,engagement_bucket,churn_risk_flag,entity_type,entity_id,entity_name,incremental_renewal_rate,test_renewal_rate,control_renewal_rate,n_test_matched,n_control_matched,segment_rank,score,member_rank,explanation_short,explanation_long
0,1,low,0,sub_category,705,SUB_CATEGORY_705,0.066711,0.732679,0.665968,11869,4906,1,0.558479,1,SUB_CATEGORY_705 shows a +667 bps uplift,This recommendation suggests focusing on 'SUB_...
1,1,low,0,sub_category,438,SUB_CATEGORY_438,0.055983,0.664838,0.608856,14233,10109,2,0.367769,2,SUB_CATEGORY_438 shows a +560 bps uplift,This recommendation suggests focusing on 'SUB_...
2,1,low,0,sub_category,503,SUB_CATEGORY_503,0.053746,0.670591,0.616844,2397,8126,3,0.328018,3,SUB_CATEGORY_503 shows a +537 bps uplift,This recommendation suggests focusing on 'SUB_...
3,1,low,0,category,96,CATEGORY_096,0.053617,0.741832,0.688215,10765,14541,4,0.325716,4,CATEGORY_096 shows a +536 bps uplift,This recommendation suggests focusing on 'CATE...
4,1,low,0,sub_category,352,SUB_CATEGORY_352,0.052996,0.708482,0.655486,10706,2428,5,0.314673,5,SUB_CATEGORY_352 shows a +530 bps uplift,This recommendation suggests focusing on 'SUB_...

In [9]:
members_nba.membership_nbr.unique()

array([     1,      2,      3, ..., 499998, 499999, 500000])

In [11]:
members_nba.entity_type.unique()

array(['sub_category', 'category', 'action'], dtype=object)

In [10]:
members_nba.loc[members_nba.membership_nbr == 1234, :]

,membership_nbr,engagement_bucket,churn_risk_flag,entity_type,entity_id,entity_name,incremental_renewal_rate,test_renewal_rate,control_renewal_rate,n_test_matched,n_control_matched,segment_rank,score,member_rank,explanation_short,explanation_long
6165,1234,high,0,sub_category,580,SUB_CATEGORY_580,0.056085,0.559235,0.503150,3445,4035,1,0.669593,1,SUB_CATEGORY_580 shows a +561 bps uplift,This recommendation suggests focusing on 'SUB_...
6166,1234,high,0,sub_category,807,SUB_CATEGORY_807,0.055376,0.579853,0.524477,4538,12397,2,0.656980,2,SUB_CATEGORY_807 shows a +554 bps uplift,This recommendation suggests focusing on 'SUB_...
6167,1234,high,0,sub_category,154,SUB_CATEGORY_154,0.054126,0.528812,0.474686,4907,3299,3,0.634765,3,SUB_CATEGORY_154 shows a +541 bps uplift,This recommendation suggests focusing on 'SUB_...
6168,1234,high,0,sub_category,756,SUB_CATEGORY_756,0.052445,0.586560,0.534115,9178,9395,4,0.604884,4,SUB_CATEGORY_756 shows a +524 bps uplift,This recommendation suggests focusing on 'SUB_...
6169,1234,high,0,category,72,CATEGORY_072,0.050160,0.596219,0.546059,19165,8198,5,0.564266,5,CATEGORY_072 shows a +502 bps uplift,This recommendation suggests focusing on 'CATE...

In [8]:

nodes = pd.read_csv("../data/kg/kg_nodes.csv")
edges = pd.read_csv("../data/kg/kg_edges.csv")

In [9]:
nodes.head()

,node_id,node_type,label,persona_id,tenure_bucket,entity_type,entity_id
0,persona:1,persona,Persona 1,1.0,NaN,NaN,NaN
1,persona:2,persona,Persona 2,2.0,NaN,NaN,NaN
2,persona:3,persona,Persona 3,3.0,NaN,NaN,NaN
3,persona:4,persona,Persona 4,4.0,NaN,NaN,NaN
4,persona:5,persona,Persona 5,5.0,NaN,NaN,NaN

In [10]:
edges.head()

,src_id,dst_id,edge_type,weight,support,persona_id,tenure_bucket,entity_type,entity_id
0,persona:1,entity:action:2,persona_entity,0.018376,3448,1,0-3m,action,2
1,persona:1,entity:action:9,persona_entity,0.017099,2453,1,0-3m,action,9
2,persona:1,entity:action:1,persona_entity,0.016163,2184,1,0-3m,action,1
3,persona:1,entity:action:3,persona_entity,0.016094,2611,1,0-3m,action,3
4,persona:1,entity:action:7,persona_entity,0.009678,2796,1,0-3m,action,7

## Test Vector Store

In [7]:
from src.retrieval.vector_store import VectorStoreConfig
cfg = VectorStoreConfig()
print("Model name:", cfg.model_name)

Model name: sentence-transformers/all-MiniLM-L6-v2

In [15]:
# Reload module to ensure we have the latest code
import importlib
import src.retrieval.vector_store
importlib.reload(src.retrieval.vector_store)

from pathlib import Path
import pandas as pd
from src.retrieval.vector_store import VectorStore, VectorStoreConfig

retrieval_dir = Path("../data/retrieval")
cfg = VectorStoreConfig()
store = VectorStore(cfg, retrieval_dir)
store.load()

results = store.search(
    query="best actions for first year members in persona 3",
    top_k=5,
)
results[:2]

[{'doc_type': 'nba_fact',
  'persona_id': 3,
  'tenure_bucket': '3y+',
  'entity_type': 'action',
  'entity_id': 1,
  'entity_name': 'ACTION_001',
  'incremental_renewal_rate': -0.001969420057562399,
  'test_renewal_rate': 0.9253993922875252,
  'control_renewal_rate': 0.9273688123450876,
  'n_test_matched': 2785,
  'n_control_matched': 2887,
  'doc_id': 'nba_fact:3:3y+:action:1',
  'score': 0.48599711060523987},
 {'doc_type': 'nba_fact',
  'persona_id': 3,
  'tenure_bucket': '3-12m',
  'entity_type': 'action',
  'entity_id': 1,
  'entity_name': 'ACTION_001',
  'incremental_renewal_rate': 0.0130213060984129,
  'test_renewal_rate': 0.6506307025926508,
  'control_renewal_rate': 0.6376093964942379,
  'n_test_matched': 1966,
  'n_control_matched': 2682,
  'doc_id': 'nba_fact:3:3-12m:action:1',
  'score': 0.48131048679351807}]